.container {
    display: flex;
    width: fit-content;
    cursor: pointer;
    border-radius: 0.25rem;
    position: relative;
}

.overlay {
    position: absolute;
    inset: 0;
    background: rgba(100, 100, 100, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.2s;
    pointer-events: none;
    border-radius: 0.25rem;
}

.container:hover .overlay {
    opacity: 1;
    pointer-events: auto;
}